<footer class="bg-black  md:px-10 w-screen text-gray-400">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="border-b border-gray-100 py-6  md:py-8 lg:py-16">
      <div class="items-start gap-6 md:gap-8 lg:flex 2xl:gap-24">
        <div class="grid min-w-0 flex-1 grid-cols-3 max-md:grid-cols-1 max-md:text-xs gap-6 md:gap-20 xl:grid-cols-3">
          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-300 dark:text-white">Company</h6>
            <ul class="space-y-6 mt-5">
              <div class="space-y-2">
                {%include 'components/logo.html'%}
                <p>Apex <br/> Trades.</p>
              </div>
              <p class="text-sm">Apex Signals invites you to become a valued partner in a highly profitable venture rooted in cryptocurrency trading. We ensure consistent and stable returns for every investor, making your financial growth our top priority.

Join us today and unlock the potential to multiply your income. Together, let’s build a prosperous future.!</p>

              <div class="flex text-2xl gap-6  text-main">
                <a href='/accounts/login'><ion-icon name="logo-instagram"></ion-icon></a>
                <a href='/accounts/login'><ion-icon name="logo-twitter"></ion-icon></a>
                <a href='/accounts/login'><ion-icon name="logo-facebook"></ion-icon></a>
                <a href='mailto:supportadmin@apex-signals.com'><ion-icon name="mail"></ion-icon></a>
              </div>
            </ul>
          </div>

         

         
        


          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-300 dark:text-white">Links and resources</h6>
            <ul class="space-y-3">
              <li>
                <a href="/" title="" class="text-gray-500 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">Home</a>
              </li>
              <li>
                <a href="/about" title="" class="text-gray-500 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">About Us</a>
              </li>
              <li>
                <a href="/accounts/sign-up" title="" class="text-gray-500 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">Registration</a>
              </li>
              <li>
                <a href="/accounts/login" title="" class="text-gray-500 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">Login</a>
              </li>
              <li>
                <a href="#" title="" class="text-gray-500 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">Frequently asked questions</a>
              </li>
            </ul>
          </div>

          <!-- <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-300 dark:text-white">Certificate</h6>
            <img src='/static/images/realvista.png' width='200' height="200"/>
          </div> -->

          <div>
            <h6 class="mb-4 text-sm font-semibold uppercase text-gray-300 dark:text-white">Contact Information</h6>
            <ul class="space-y-5">
            
                <div  class="text-gray-500 flex gap-5 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">
                  <ion-icon name="location" class='text-4xl text-main'></ion-icon>
                  <p>
                    C/O 32 Castlewood Road, London, United Kingdom, N16 6DW
                  </p>
                </div>
                <div  class="text-gray-500 flex gap-5 hover:text-gray-300 dark:text-gray-400 dark:hover:text-white">
                  <ion-icon name="mail-unread" class='text-3xl text-main'></ion-icon>
                  <a href='mailto:supportadmin@apex-signals.com'>
                    supportadmin@apex-signals.com
                  </a>
                </div>

           

            </ul>
          </div>
        
        </div>


      
      </div>



    <div class="py-6 md:py-8">
      <div class="gap-4 space-y-5 xl:flex xl:items-center xl:justify-between xl:space-y-0">
        

        <p class="text-sm text-gray-500 dark:text-gray-400">Copyright © 2024 | <a href="#" class="hover:underline">Apex Signals</a> | All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>