<div class="flex justify-end gap-8 items-center w-full text-xs relative">
  <span
    class="bg-gray-200 rounded-full text-xs flex items-center py-2 gap-2 px-5 text-neutral-900 cursor-pointer"
    @click="trading_profile=!trading_profile"
  >
  <i class="ri-user-shared-fill text-base"></i>
    Expert Profilea
  </span>

  <!-- <div class="gtranslate_wrapper " style="position: relative; top: 0 ;" ></div> -->


  <!-- <span class='   gap-3 flex rounded-full  items-center justify-between' @click="profile=!profile">
<ion-icon name="person" class="text-xl bg-gray-900 p-3 rounded-full text-gray-200 cursor-pointer"></ion-icon>
<span class="text-xs max-md:hidden">{{request.user.first_name}} {{request.user.last_name}}</span>
</span> -->

  <script></script>

  <!-- current trading profile -->
</div>
