<section x-cloak
    class="absolute z-50  py-10 left-0 right-0 bg-[rgb(0,0,0,.8)] p-10 max-md:p-5 top-0 bottom-0  flex justify-center "
    x-show="showForm" x-transition x-transition.duration.500ms>
    <div
        class="bg-white text-black rounded-md w-1/2 h-fit   p-10 max-md:px-3 flex flex-col relative gap-2 max-md:w-full justify-center items-center">
        <ion-icon name="close-sharp"
            class="absolute top-5 right-5 text-xl p-1 bg-blue-200 cursor-pointer hover:bg-blue-400 transition ease-in duration-150 rounded-md text-black"
            @click="showForm=!showForm"></ion-icon>
        <form
            class="w-full flex form flex-col gap-4 [&_input]:border [&_input]:border-neutral-400 [&_input]:bg-transparent [&_input[file]]:bg-red-100 [&_input]:p-3 [&_input]:rounded-md"
            @submit="submitRequestFormTrack">
            {%csrf_token%}
            <h1 class="text-base font-semibold ">Recover Asset</h1>
            <div class="grid grid-cols-2 gap-5 max-sm:grid-cols-1">
                <fieldset class="flex flex-col gap-5">
                    <label for="">Your Email</label>
                    <input type="email" placeholder="your email for contact" name="email"
                        class="border border-neutral-400" id="" required>
                </fieldset>
                <fieldset class="flex flex-col gap-5">
                    <label for="">Your Exchange platform</label>
                    <input type="text" placeholder="binance,trust e.t.c" name="exchange"
                        class="border border-neutral-400" id="" required>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="">Your Wallet Address</label>
                    <input type="text" placeholder="enter your wallet address" name="wallet"
                        class="border border-neutral-400" id="wallet" required>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="swallet">Reciepient Wallet Address</label>
                    <input type="text" placeholder="enter fraudter's address" name="swallet"
                        class="border border-neutral-400" id="" required>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="">Reciepient Exchange platform</label>
                    <input type="text" placeholder="binance,trust,coin market cap, probit e.t.c" name="sexchange"
                        class="border border-neutral-400" id="" required>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="">Amount</label>
                    <input x-model="amount" type="number" placeholder="binance,trust,coin market cap, probit e.t.c"
                        name="amount"
                        class=" file:bg-main file:border-0 file:rounded-full file:p-2 border-neutral-400 border-0 w-full"
                        id="" required>
                    <span x-text="`Tracking Fee: $${amount * 0.1}`" class="text-xs text-main"></span>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="">Proof of fraudulent transaction</label>
                    <input type="file" placeholder="binance,trust,coin market cap, probit e.t.c" name="scam"
                        class=" file:bg-main file:border-0 file:rounded-full file:p-2 border-neutral-400 border-0 w-full"
                        id="" required>
                </fieldset>

                <fieldset class="flex flex-col gap-5">
                    <label for="">Proof of tracking fee payment</label>
                    <input type="file" placeholder="binance,trust,coin market cap, probit e.t.c" name="payment"
                        class=" file:bg-main file:border-0 file:rounded-full file:p-2 border-neutral-400 border-0 w-full"
                        id="" required>
                </fieldset>
            </div>
            <button class=" bg-main text-white text-sm px-5 py-3 mx-auto my-10 rounded-full w-fit block">Recover your
                crypto
                now<i class="ri-arrow-right-up-line"></i></button>
        </form>
    </div>
</section>