{% extends "dbase.html" %} {%load static%} {% block content %}

<section class="bg-white text-neutral-900 max-md:pt-24" x-data="assets">
  {{ wallets|json_script:"wallets"}}
  <!--  -->
  {{ history|json_script:"history"}}
  <!--  -->
  {% include "components/sidenav.html" %}
  <!--  -->
  {%include "components/loader.html" %} {%include "components/error.html" %}
  <!--  -->
  {%include "components/alerts.html" %}
  <!--  -->
  {%include "components/dashboard/transaction-details.html" %}
  <!-- main content -->
  <div class="ml-[28%] max-md:ml-0 p-5 h-screen">
    <div class="max-md:hidden">{% include "components/path.html" %}</div>

    <!-- Transaction toggle button list -->
    <div class="p-5 bg-gray-50 relative border border-gray-100 w-2/3 overflow-y-auto max-md:w-full h-full rounded-md text-xs">
      <h1 class="text-base">Transaction History</h1>
      <div class="flex gap-5 text-sm py-5 *:w-fit button-group">
        <button class="flex items-center gap-2 p-3 py-1.5 rounded-full" @click="currButton='deposits'"
          :class="$el.textContent.trim().toLowerCase()==currButton?'bg-neutral-900 text-neutral-300':'bg-neutral-300 text-neutral-900'">
          <i class="ri-arrow-down-line"></i> Deposits
        </button>
        <button class="flex items-center gap-2  p-3 py-1.5 rounded-full"
          :class="$el.textContent.trim().toLowerCase()==currButton?'bg-neutral-900 text-neutral-300':'bg-neutral-300 text-neutral-900'"
          @click="currButton='withdrawals'">
          <i class="ri-arrow-up-line"></i>Withdrawals
        </button>
      </div>

      <!-- Deposits -->

      <div class="history deposits " x-show="currButton=='deposits'">
        <div x-show="deposits.length == 0" class=" absolute flex flex-col gap-3 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2">
          <span  class="text-xl">No Deposit History</span>
          <a href="/accounts/deposit" class="text-white bg-main px-3 text-center py-2 rounded-full"> Make a deposit</a>
        </div>
        <template x-for="d in deposits" :key="d.id">
          <div class="flex justify-between bg-gray-100 border border-gray-200 p-5 rounded-md my-5" @click="setDetails=d;showDetails=true">
            <span x-text="d.currency"></span>
            <span x-text="d.created"></span>
            <span x-text="'$'+d.amount"></span>
            <!-- check for confirmation here -->
            <ion-icon name="alert-circle" x-show="d.status === 'Pending'" class="text-orange-400 text-xl"></ion-icon>
            <ion-icon name="checkmark-circle" x-show="d.status === 'Successful'" class="text-green-400 text-xl"></ion-icon>
            <!-- <ion-icon name="close-circle" x-show="d.status === 'Successful" class="text-red-400 text-xl"></ion-icon> -->
          </div>
        </template>
      </div>

      <!-- withdrawals -->

      <div class="history withdrawals" x-show="currButton=='withdrawals'">
        <div x-show="withdrawals.length == 0" class=" absolute flex flex-col gap-3 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2">
          <span  class="text-xl">No Withdrawal History</span>
          <a href="/accounts/withdraw" class="text-white bg-main px-3 text-center py-2 rounded-full"> Make a withdrawal </a>
        </div>
        <template x-for="w in withdrawals" :key="w.id">
          <div class="flex justify-between bg-gray-100 border border-gray-200  p-5 rounded-md my-5" @click="setDetails=w;showDetails=true">
            <span x-text="w.currency"></span>
            <span x-text="w.created"></span>
            <span x-text="'$'+w.amount"></span>
            <!-- check for confirmation here -->
            <ion-icon name="alert-circle" x-show="w.status === 'Pending'" class="text-orange-400 text-xl"></ion-icon>
            <ion-icon name="checkmark-circle" x-show="w.status === 'Successful'" class="text-green-400 text-xl"></ion-icon>
            <ion-icon name="close-circle" x-show="w.status === 'Declined'" class="text-red-400 text-xl"></ion-icon>
          </div>
        </template>
      </div>
    </div>
  </div>
  <script src="{% static 'js/fetch-data.js'%}"></script>

  <script>
    document.addEventListener("alpine:init", () => {
      const assets = JSON.parse(document.getElementById("wallets").textContent);
      const history = JSON.parse(
        document.getElementById("history").textContent
      );
      let deposits = history.deposits.map(item => {
        item.type = 'deposit'
        return item
      })
      let withdrawals = history.withdrawals.map(item => {
        item.type = 'withdrawal'
        return item
      })      
      Alpine.data("assets", () => ({
        currButton: 'deposits',
        deposits: deposits,
        withdrawals: withdrawals,
        showLoader: false,
        showError: false,
        errorMessage: "Something went wrong",
        showDetails: false,
        setDetails: deposits[0],
        changeTradeType(el) {
          let buttons = Array.from(
            document.querySelector(".button-group").children
          );
          buttons.forEach((button) => {
            if (button.textContent == el.textContent) {
              // debugging happening here hahahahaha
              button.classList.remove("text-gray-500");
            } else {
              button.classList.add("text-gray-500");
            }
          });
          let templates = Array.from(document.querySelectorAll(".history"));
          templates.forEach((template) => {
            if (
              template.classList.contains(el.textContent.toLowerCase().trim())
            ) {
              template.setAttribute("x-show", true);
            } else {
              template.setAttribute("x-show", false);
            }
          });
        },
      }));
    });
  </script>
</section>

{% endblock content %}